extends layouts/_slides

block content
  
  #slides
    input(type="radio" name="slider" value="1" checked)
    input(type="radio" name="slider" value="2")
    input(type="radio" name="slider" value="3")
    input(type="radio" name="slider" value="4")
    input(type="radio" name="slider" value="5")
    input(type="radio" name="slider" value="6")
    input(type="radio" name="slider" value="7")
    
    // Sample intro
    .slide.s1
      h1 Hey!
    
    .slide.s2
      h1 We are
      
    .slide.s3
      h1 Monterail
      
    .slide.s4
      h1 Welcome
      
    .slide.s5
      h1 To our
      
    .slide.s6
      h1 Party
      
    .slide.s7
      h1: i.icon-logo.big-icon
      
