extends layouts/_slides

block content
  
  #slides
    input(type="radio" name="slider" value="1" checked)
    input(type="radio" name="slider" value="2")
    input(type="radio" name="slider" value="3")
    input(type="radio" name="slider" value="4")
    input(type="radio" name="slider" value="5")
    input(type="radio" name="slider" value="6")
    input(type="radio" name="slider" value="7")
    
    // Sample intro
    .slide.s1
      h1: i.icon-gift.big-icon
      
    .slide.s2
      h1: i.big-icon.icon-baloons
      
    .slide.s3
      h1: i.big-icon.icon-champagne
      
    .slide.s4
      h1: i.big-icon.icon-drink
      
    .slide.s5
      h1: i.big-icon.icon-beer
      
    .slide.s6
      h1: i.big-icon.icon-candle    

    .slide.s7
      h1: i.big-icon.icon-logopixel
