extends layouts/_simple

block content
  div#instafeed_container
  
  #slides
    input(type="radio" name="slider" value="3" checked)
    
    // Sample intro
    .slide.s3
      h1: i.icon-logo.txt-icon
      
