doctype html
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8 ie7"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9 ie8"> <![endif]-->
<!--[if IE 9]>         <html class="no-js ie9"> <![endif]-->
<!--[if gt IE 9]>      <html class="no-js gt-ie9"> <![endif]-->
<!--[if !IE]> <![IGNORE[--><!--[IGNORE[]]--> <html class="no-js noie">
head
  meta(charset="utf-8")
  title hi5
  meta(name="description", content="")
  meta(name="viewport", content="width=device-width, initial-scale=1", initial)
  //- build:css /styles/vendor.min.css -->
  //- endbuild -->
  //- build:css({.tmp,app}) ./hi5monte/styles/main.min.css -->
  // bower:css
  // endbower
  link(rel="stylesheet", href="./styles/main.css")
  //- endbuild -->

body

  main
    block content
  
  //- build:js(./app/) ./hi5monte/scripts/vendor.min.js -->
  // bower:js
  // endbower
  //- endbuild -->
  //- build:js(.tmp) ./hi5monte/scripts/insta.min.js -->
  script(type="text/javascript" src="./scripts/plugins/instafeed.min.js")
  script(src="./scripts/4.js")
  //- endbuild -->

| </html>
